@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  .text-title-3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }
  .text-title-4 {
    font-size: 15px;
    line-height: 22px;
  }
  .text-body-2 {
    font-size: 13px;
    line-height: 16px;
  }
}

@layer components {
  .grid-item {
    @apply block w-[276px] h-[308px] bg-white rounded-lg overflow-hidden text-[rgb(32,39,49)] no-underline cursor-pointer;
  }
  .thumbnail {
    @apply rounded-md my-[0px] mx-['auto'] object-none transition-transform duration-300 hover:scale-110;
  }
  .product-info {
    @apply inline-flex items-center gap-1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0 auto;
}
